body{
	background:url('../imagenes/admin.gif')no-repeat center center fixed; 
	  background-size: cover;
}


h2{
	text-align: center;
	font-size: 60px;
	text-decoration: underline;
	color: white;
	text-shadow: 2px 3px 15px black;
}

#biblio{
	background: #a34be7;
	color:white;
	font-size: 30px;
	text-shadow: 1px 1px 5px black;
	font-weight: 600;
	width: 17%;
	border-radius: 40px;

}


button{
	margin-top: 0px;
	font-size:20px;
	height: 10%;
	width: 10%;
	font-weight: 600;
   border-radius: 40px;
}

